{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        {{ form_widget(form) }}
<div class="form-group">
    <button type="submit" name="enviar" class="btn btn-success"><i class="fa fa-check-square-o"></i> Continuar
    </button>
    <a href="{{ path('inicio') }}" class="btn btn-info"><i class="fa fa-arrow-circle-left"
                                        aria-hidden="true"></i> Volver</a>
</div>
{{ form_end(form) }}

