{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Alquiler de Vehiculos</h2>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width:0%">
        </div>
    </div>
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="submit" name="enviar" class="btn btn-success pull-right"><i class="fa fa-check-square-o"></i>
            Continuar
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            dateTimeLoad();
        });

        function dateTimeLoad() {
            $.datetimepicker.setLocale('es');
            $(".fecha").datetimepicker({
                format: 'd-m-Y',
                step: 30,
                timepicker: false,
                minDate:0
            });
        }
    </script>
{% endblock %}

