html {
    height: 100%;
}

body {
    padding: 50px;
}

.progress{
    margin-top: 30px;
}

@media only screen and (max-width : 480px) {

    body {
        padding-left: 0;
        padding-right: 0;
    }

}